BcSoft.EDC.Surface/BcSoft.EDC.Surface/BC_EDC_Surface/
BcSoft.EDC.Surface/BcSoft.EDC.Surface/bin/
BcSoft.EDC.Surface/BcSoft.EDC.Surface/obj/
BcSoft.EDC.Surface/运行环境/
BcSoft.EDC.Surface/Libs/
BcSoft.EDC.Surface/.vs/BcSoft.EDC.Surface/v14/.suo
